.NavBar {
  padding: 1em 1em 0 1em;
  font-weight: 450;
  display: flex;
  justify-content: space-between;
}

.NavBar-right a {
  padding-left: 3em;
}

a,
a:active {
  margin: .5em;
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(68, 109, 149);
}