.UploadForm {
  margin: 3em;
  padding: 1.5em;
  border: 3px solid black;
  border-radius: 10px;
}

.UploadForm-form {
  margin: 1em;
}

.UploadForm input {
  margin: .2em;
}

.UploadForm label {
  font-weight: 500;
}

.UploadForm button {
  margin-top: .5em;
  background-color: rgb(68, 109, 149);
  border: none;
}

.UploadForm button:hover {
  background-color: rgb(82, 132, 181);
}